{% extends 'my_server/base.html' %}
{% block main %}
    <h3>当前用户：{{ user.username }}</h3>
    <table class="table table-hover" style="margin-top:10px;">
        <tr id="server-list">
            <th>服务器地址</th>
            <th>游戏名</th>
            <th>游戏区服</th>
            <th>游戏版本号</th>
            <th>服务器当前时间</th>
            <th>服务器操作</th>
        </tr>
        {% for server in server_list %}
            <tr>
                <td>{{ server.ip_address }}</td>
                <td>{{ server.game }}</td>
                <td>{{ server.area }}</td>
                <td>{{ server.version }}</td>
                <td>未获取，点击更新时间</td>
                <td id="{{ server.id }}">
                    <form action="{% url 'set_server_time' %}" class="form-inline" style="display: inline;">
                        <input size="16" type="text" value="" class="form_datetime form-control" name="time">
                        <button class="btn btn-primary set-time" type="submit">设置时间</button>
                    </form>
                    <button class="btn btn-success get-time" style="margin-right: 10px">更新时间</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <script>
        $(function(){
            // 获取当前服务器时间
            $('.get-time').click(function(){
                let id = $(this).parent().attr('id');
                $.ajax({
                    type: 'POST',
                    url: {% url 'get_server_time' %},
                    data: {'id': id},
                    success: function(ret) {
                        $('#' + id).prev().text(ret);
                    },
                    error: function() {
                        alert('更新服务器时间失败');
                    }
                });
            });
            $('.set-time').click(function(e){
                e.preventDefault();
                let id = $(this).parent().parent().attr('id');
                let form = $(this).parent();
                let data = $.param({'id': id}) + '&' + form.serialize();
                $.ajax({
                    type: 'POST',
                    url: {% url 'set_server_time' %},
                    data: data,
                    success: function(ret) {
                        $('#' + id).prev().text(ret);
                        form[0].reset();
                    },
                    error: function() {
                        alert('设置服务器时间失败');
                    }
                });
            });
            // 定义时间选择器格式
            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii:ss',
                language:"zh-CN",
                autoclose: true,
            });
        });
    </script>
{% endblock %}